
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-app {
  background-color: #5609a827;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
}

.title {
  text-align: center;
  color: #2196F3;
}

.nameandid{
  text-align: center;
}

.filter-button {
  margin-top: 10px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #a10d0d;
}
